.git
.github
.env
.env.*
!.env.docker.example
node_modules
vendor
public/build
public/hot
public/storage
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
.phpunit.cache
.phpunit.result.cache
tests
README.md
CHANGELOG.md
Homestead.json
Homestead.yaml
Dockerfile
docker-compose.yml
.dockerignore
